@using System.Security.Claims
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link rel="stylesheet" href="~/Styles/StyleSheet.css" />
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <nav>
            <div class="nav-wrapper blue">
                <a href="" class="brand-logo">@Html.ActionLink("Son of A Cod", "Index", "Home")</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Newsletter", "Index", "Newsletter")</li>
                    <li>@Html.ActionLink("Admin", "Index","Account")</li>
                </ul>
            </div>
        </nav>
        <div class="container">
        <h4>Son Of A Cod Seafood Supplier</h4>
        @RenderBody()

        </div>
    </div>
</body>
</html>
